<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2><strong style="color:red">Có lỗi trong quá trình xử lý.</strong></h2>
    </hgroup>
</body>
</html>
